<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Let's Jam</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="page-container">
        <div id="content-wrap">
            <ul>
                <li>@Html.ActionLink("HOME", "Index", "Home")</li>
                <li>@Html.ActionLink("Jammers", "Index", "Member")</li>
                <li>@Html.ActionLink("Rock Stars", "Index", "Enrollment")</li>
                <li>@Html.ActionLink("Lessons", "Index", "Lesson")</li>
                <li>@Html.ActionLink("Products", "Index", "Product")</li>
                <li>@Html.ActionLink("Sales", "Index", "Transaction")</li>
                <li> @Html.Partial("_LoginPartial")</li>
            </ul>
            <ul>
            </ul>

            <div class="container body-content" id="bodyviews">
                @RenderBody()
            </div>
        </div>
        <footer class="text-center" id="footer">
            <p id="bottomtag">
                &copy; @DateTime.Now.Year - Let's Jam by Jesse Southerland | @Html.ActionLink("About", "About", "Home") |
                @Html.ActionLink("Contact", "Contact", "Home") |
            </p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>