@model IEnumerable<LetsJam.Models.Enrollment.EnrollmentList>

@{
    ViewBag.Title = "Index";
}

<h1 class="text-center" id="titles">Rock Stars</h1>
<br />
<br />

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table">
    <tr id="toppers">
        <th class="text-center">
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Instrument)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.DifficultyLevel)
        </th>
        <th class="text-right">
            @Html.ActionLink("{New Rock Star}", "Create")
        </th>
    </tr>

    @foreach (var item in Model.OrderBy(x => x.Instrument))
    {
        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instrument)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DifficultyLevel)
            </td>
            <td class="text-right" id="links">
                @Html.ActionLink("Edit", "Edit", new { id = item.EnrollmentId }) |
                @Html.ActionLink("Details", "Details", new { id = item.EnrollmentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EnrollmentId })
            </td>
        </tr>
    }

</table>
