@model LetsJam.Models.Lesson.LessonDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LessonDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LessonId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LessonId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instrument)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instrument)
        </dd>
    </dl>
</div>
<hr />

<h3>Students:</h3>

<table class="table">
    @try
    {
        if (Model.Enrollments.ElementAt(0) != null)
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Enrollments.ElementAt(0).EnrollmentId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Enrollments.ElementAt(0).MemberName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Enrollments.ElementAt(0).DifficultyLevel)
                </th>
            </tr>
        }

    }
    catch (Exception)
    {
        @Html.Raw("<p>There are no enrollments to display.</p>")


    }

    @foreach (var prop in Model.Enrollments)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => prop.EnrollmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => prop.MemberName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => prop.DifficultyLevel)
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LessonId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
