@model IEnumerable<LetsJam.Models.Lesson.LessonList>

@{
    ViewBag.Title = "Index";
}

<h1 class="text-center">Lessons</h1>
<br />
<br />

<p class="text-center">
    @Html.ActionLink("New Lesson", "Create")
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Instrument)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Instrument)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.LessonId }) |
                @Html.ActionLink("Details", "Details", new { id = item.LessonId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.LessonId })
            </td>
        </tr>
    }

</table>
