@model LetsJam.Models.Product.ProductDetail

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center" id="titles">Product Details</h2>
<br />
<br />

<div id="borders">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SKU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SKU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberInStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberInStock)
        </dd>

    </dl>
</div>

<h3 id="subtitle">Transactions</h3>

<table class="table">
    @try
    {
        if (Model.Transactions.ElementAt(0) != null)
        {
            <tr id="toppers">
                <th>
                    @Html.DisplayNameFor(model => model.Transactions.ElementAt(0).TransactionId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Transactions.ElementAt(0).MemberName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Transactions.ElementAt(0).NumberOfProductPurchased)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Transactions.ElementAt(0).DateOfTransaction)
                </th>
            </tr>
        }

    }
    catch (Exception)
    {
        @Html.Raw("<p>There are no transactions to display.</p>")


    }

    @foreach (var prop in Model.Transactions)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => prop.TransactionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => prop.MemberName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => prop.NumberOfProductPurchased)
            </td>
            <td>
                @Html.DisplayFor(modelItem => prop.DateOfTransaction)
            </td>
        </tr>
    }
</table>
<p class="text-right">
    @Html.ActionLink("Edit", "Edit", new { sku = Model.SKU }) |
    @Html.ActionLink("Back to List", "Index")
</p>
