@model IEnumerable<LetsJam.Models.Product.ProductList>

@{
    ViewBag.Title = "Index";
}

<h1 class="text-center" id="titles">Products</h1>
<br /><br />

@if (TempData.ContainsKey("SaveResult"))
{
    <div id="success">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<br />
<table class="table">
    <tr id="toppers">
        <th class="text-center">
            @Html.DisplayNameFor(model => model.SKU)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th class="text-right">
            @Html.ActionLink("{New Product}", "Create")
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr class="text-center">
    <td>
        @Html.DisplayFor(modelItem => item.SKU)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td class="text-right" id="links">
        @Html.ActionLink("Edit", "Edit", new { sku = item.SKU }) |
        @Html.ActionLink("Details", "Details", new { sku = item.SKU }) |
        @Html.ActionLink("Delete", "Delete", new { sku = item.SKU })
    </td>
</tr>
    }

</table>
